.link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 93px;

  text-decoration: none;

  hyphens: auto;
}
.text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  text-align: center;

  color: #52555f;

  width: 93px;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}
.text:hover {
  -ms-text-overflow: unset;
  text-overflow: unset;
  overflow: visible;
}
.category {
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .link {
    width: 104px;
  }
  .text {
    width: 104px;
  }
}
