.commonReportBlock {
  margin-top: 40px;
  margin-bottom: 40px;
}

.link {
  all: unset;
  display: flex;
  align-items: baseline;
}

.link:hover {
  cursor: pointer;
}

.name {
  margin: 0 15px 0 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  color: rgba(82, 85, 95, 0.7);
}

.reportLogo {
  fill: black;
}

@media screen and (min-width: 1280px) {
  .commonReportBlock {
    margin: 0;
  }
}
