.common {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: rgba(82, 85, 95, 0.7);
  margin: 0;
  margin-bottom: 8px;
}

.balanceInputBlock {
  display: flex;
  position: relative;
}

.balanceBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  display: block;
  border: 2px solid #ffffff;
  text-align: right;
  width: 140px;
  height: 44px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;

  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;
  padding: 12px 16px 12px 19px;
  background-color: transparent;
  border-radius: 22px 0px 0px 22px;
}
.input::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;

  letter-spacing: 0.02em;
  text-transform: uppercase;
  background-color: transparent;
  color: #000000;
}

.input:focus {
  outline: none;
}
.confirm {
  width: 142px;

  padding: 12px 22px 12px 18px;
  background-color: transparent;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;

  letter-spacing: 0.02em;
  text-transform: uppercase;

  border: 2px solid #ffffff;
  border-left: 0;
  border-radius: 0px 22px 22px 0px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: rgba(82, 85, 95, 0.7);
}

.confirm:hover:enabled,
.confirm:active:enabled,
.confirm:focus:enabled {
  cursor: pointer;
  background: #ff751d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #ffffff;
}
.reportButtonStyle {
  display: none;
}

h3 {
  margin: 0;
}
p {
  margin: 0;
}
.modal {
  position: absolute;
  left: 10px;
  top: 62px;
}

.reportInputStyle {
  border: 2px solid #ffffff;
  text-align: right;
  width: 183px;
  height: 44px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;

  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;
  padding: 15px 16px 15px 19px;
  background-color: transparent;
  border-radius: 22px;
  text-align: center;
  pointer-events: none;
}
.reportInputStyle::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;

  letter-spacing: 0.02em;
  text-transform: uppercase;
  background-color: transparent;
  background-color: transparent;
  color: #000000;
}

.reportInputStyle:focus {
  outline: none;
}

@media screen and (min-width: 768px) {
  .common {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .balanceBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .name {
    margin: 0 21px 0 40px;
    flex-direction: row;
  }
  .input {
    margin-right: 15px;
    width: 125px;
    height: 44px;

    padding: 12px 20px 12px 0px;
    background-color: transparent;
    border-radius: 16px;
  }
  .confirm {
    width: 125px;
    padding: 12px 6px 12px 6px;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 16px;
  }
  .reportInputStyle {
    width: 125px;
    padding: 12px 20px 12px 0;
    text-align: right;
  }
}

@media screen and (min-width: 1280px) {
  .form {
    margin: 0 auto;
  }
  .name {
    margin-right: 20px;
  }
  .reportInputStyle {
    margin-right: 16px;
    pointer-events: auto;
  }
  .input {
    margin-right: 16px;
    padding: 12px 20px 12px 8px;
  }
  .reportButtonStyle {
    display: block;
    width: 142px;

    padding: 0;
    background-color: transparent;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;

    letter-spacing: 0.02em;
    text-transform: uppercase;

    border: 2px solid #ffffff;
    border-left: 0;
    border-radius: 22px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    color: rgba(82, 85, 95, 0.7);
  }
  .reportButtonStyle:hover:enabled,
  .reportButtonStyle:active:enabled,
  .reportButtonStyle:focus:enabled {
    cursor: pointer;
    background: #ff751d;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #ffffff;
  }
}
